@{
  Layout = "_Layout";
}

<h2>About @Model["stylist"].GetStylistName()</h2>
<p>@Model["stylist"].GetBio()</p>
<hr>

@if (@Model["clients"].Count != 0)
{
  <h4>@Model["stylist"].GetStylistName()'s clients:</h4>
  <ol>
  @foreach (var client in @Model["clients"])
  {
    <li>Client Name:<a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'> @client.GetClientName()</a> <br>Phone Number: @client.GetPhone()</li>
  }
  </ol>

<br>
<form action= '/clients/delete' method="post">
  <button type="submit" name="button"> Delete all clients </button>
</form>
}
<br>
<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p>

<br>
<br>


@if (@Model["stylistSpecialties"].Count != 0)
{
  <h4>@Model["stylist"].GetStylistName()'s services:</h4>
  <ul>
    @foreach (var specialty in @Model["stylistSpecialties"])
    {
      <li>@specialty._specialtyName, @specialty._specialtyPrice
      </li>
    }
  </ul>
}

<h4>Add a service @Model["stylist"].GetStylistName():</h4>

<form action='/stylists/@Model["stylist"].GetId()/specialties/new' method='post'>
  <label for='specialtyId'>Select a specialty</label>
  <select id='specialtyId' name='specialtyId' type='text'>

    @foreach (var specialty in @Model["allSpecialties"])
    {
      <option value='@specialty._specialtyId'>@specialty._specialtyName</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<br>
<br>

<form action= '/stylists/@Model["stylist"].GetId()/delete' method="post">
  <button type="submit" name="button"> Delete this stylist </button>
</form>

<br>
<p><a href='/stylists/@Model["stylist"].GetId()/edit'>Edit bio of this stylist</a></p>
<hr>
<p><a href='/stylists'>Return to stylist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
